@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

ol,
ul,
li {
  list-style: none;
}

a {
  /* 라이브러리 import로 속성이 우선적용되지 않아 important 부여 */
  text-decoration: none !important;
}

.hidden {
  position: absolute;
  opacity: 0;
  left: -99999px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.frame {
  width: 100%;
  height: 100vh;
}
.frame::after {
  display: block;
  content: "";
  clear: both;
}
.frame .title {
  width: 100%;
  height: 37px;
  background-color: #142759;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.frame section {
  float: left;
  height: 400px;
  padding: 10px;
}
.frame section .section-title {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.frame section .section-title img {
  width: 25px;
  margin-right: 10px;
}
.frame section .section-title a {
  position: absolute;
  right: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 25px;
  color: #fff;
  background-color: #495464;
  border-radius: 5px;
  font-size: 13px;
}
.frame section .wrapper {
  width: 100%;
  height: 90%;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
}
.frame section .icons-wrapper {
  background-color: transparent;
}
.frame section .icons-wrapper article {
  background-color: #fff;
}

.section-container::after {
  display: block;
  content: "";
  clear: both;
}
.section-container .board {
  width: 35%;
}
.section-container .board .wrapper table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
.section-container .board .wrapper table tbody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.section-container .board .wrapper table tbody tr {
  display: flex;
  flex: 1;
  align-items: center;
  width: 95%;
  border-bottom: 1px solid #a9adb8;
}
.section-container .board .wrapper table tbody tr:last-of-type {
  margin-bottom: 10px;
}
.section-container .board .wrapper table tbody tr:hover {
  background-color: #f2f3f6;
}
.section-container .board .wrapper table tbody tr td {
  display: flex;
  flex-direction: column;
}
.section-container .board .wrapper table tbody tr .issue-title {
  width: 68%;
  padding-left: 5px;
}
.section-container .board .wrapper table tbody tr .issue-title .issue-type {
  color: #2aab7d;
}
.section-container .board .wrapper table tbody tr .issue-title .detail-title {
  color: #000;
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.section-container .board .wrapper table tbody tr .processing-status {
  width: 32%;
  text-align: right;
  padding-right: 5px;
}
.section-container .board .wrapper table tbody tr .processing-status .current-status {
  color: #e07351;
}
.section-container .board .wrapper table tbody tr .processing-status a {
  color: #000;
}
.section-container .icons {
  width: 25%;
}
.section-container .icons .wrapper {
  border: none !important;
  display: flex;
  flex-wrap: wrap;
}
.section-container .icons .wrapper article {
  width: 32%;
  border: 1px solid #000;
  border-radius: 9px;
  text-align: center;
  margin-right: 2%;
  margin-bottom: 2%;
}
.section-container .icons .wrapper article:nth-of-type(5) {
  border: 2px solid #828282;
  background-color: #eceefa;
}
.section-container .icons .wrapper article:hover {
  background-color: #f2f3f6;
}
.section-container .icons .wrapper article:nth-of-type(3n) {
  margin-right: 0;
}
.section-container .icons .wrapper article:nth-of-type(7), .section-container .icons .wrapper article:nth-of-type(8), .section-container .icons .wrapper article:nth-of-type(9) {
  margin-bottom: 0;
}
.section-container .icons .wrapper article a {
  color: #000;
}
.section-container .icons .wrapper article a span {
  display: block;
  margin: 15px auto;
}
.section-container .icons .wrapper article a .icons-value {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section-container .icons .wrapper article a .icons-value img {
  width: 35px;
}
.section-container .icons .wrapper article a .icons-value b {
  font-size: 25px;
  color: #5978b9;
}
.section-container .icons .wrapper article a .icons-value b.monthly-issue {
  color: #f46161;
}
.section-container .project-table {
  width: 40%;
  text-align: center;
  vertical-align: middle;
}
.section-container .project-table .wrapper {
  border: none !important;
}
.section-container .project-table .wrapper table {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #000;
}
.section-container .project-table .wrapper table tbody tr {
  border-bottom: 1px solid #000;
}
.section-container .project-table .wrapper table tbody tr:hover {
  background-color: #f2f3f6;
}
.section-container .project-table .wrapper table tbody tr:hover td:first-child,
.section-container .project-table .wrapper table tbody tr:hover td:last-child {
  border-radius: 0 0 10px 10px;
}
.section-container .project-table .wrapper table tbody tr:last-child {
  border-bottom: none;
}
.section-container .project-table .wrapper table tbody tr th,
.section-container .project-table .wrapper table tbody tr td {
  border-right: 1px solid #000;
  height: 57px;
  border-radius: 10px 10px 0 0;
}
.section-container .project-table .wrapper table tbody tr th:last-child,
.section-container .project-table .wrapper table tbody tr td:last-child {
  border-right: none;
}
.section-container .project-table .wrapper table tbody tr th {
  background-color: #f2f3f6;
}

.current-graph {
  width: 60%;
}
.current-graph .wrapper {
  height: 110% !important;
  padding-top: 15px;
}
.current-graph .wrapper .dropdown {
  width: 100%;
  float: left;
  text-align: right;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
}
.current-graph .wrapper .dropdown select {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  background-color: #ced5ed;
  border: none;
  padding-left: 10px;
}
.current-graph .wrapper .highcharts-figure {
  width: 50%;
  float: left;
}
.current-graph .wrapper .highcharts-figure .current-graph-title {
  display: flex;
  align-items: center;
}
.current-graph .wrapper .highcharts-figure .current-graph-title img {
  width: 30px;
  margin: 0 10px;
}
.current-graph .wrapper .highcharts-figure #parent_container {
  width: 100%;
  height: 50%;
}
.current-graph .wrapper .highcharts-figure #parent_container #donut_container {
  width: 100%;
  height: 340px;
}
.current-graph .wrapper .customers-current-graph {
  width: 50%;
  float: right;
}
.current-graph .wrapper .customers-current-graph .customers-current-title {
  display: flex;
  align-items: center;
}
.current-graph .wrapper .customers-current-graph .customers-current-title img {
  width: 30px;
  margin: 0 10px;
}
.current-graph .wrapper .customers-current-graph .bar-graph {
  position: relative;
  width: 95%;
  height: 20px;
  margin: 40px auto 50px 0;
}
.current-graph .wrapper .customers-current-graph .bar-graph div {
  height: 100%;
  border-radius: 25px;
  float: left;
}
.current-graph .wrapper .customers-current-graph .bar-graph .corp1 {
  width: 35%;
  background-color: #5157e0;
}
.current-graph .wrapper .customers-current-graph .bar-graph .corp2 {
  width: 25%;
  background-color: #2ccb92;
}
.current-graph .wrapper .customers-current-graph .bar-graph .corp3 {
  width: 20%;
  background-color: #f2c94c;
}
.current-graph .wrapper .customers-current-graph .bar-graph .corp4 {
  width: 10%;
  background-color: #b8b6b6;
}
.current-graph .wrapper .customers-current-graph .bar-graph .corp5 {
  width: 5%;
  background-color: #e07351;
}
.current-graph .wrapper .customers-current-graph .bar-graph .corp6 {
  width: 5%;
  background-color: #3f89b1;
}
.current-graph .wrapper .customers-current-graph .graph-desc {
  width: 95%;
}
.current-graph .wrapper .customers-current-graph .graph-desc > div {
  display: flex;
}
.current-graph .wrapper .customers-current-graph .graph-desc div {
  position: relative;
}
.current-graph .wrapper .customers-current-graph .graph-desc div span {
  display: inline-block;
  width: 10px;
  height: 30px;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.current-graph .wrapper .customers-current-graph .graph-desc div .corp1 {
  background-color: #5157e0;
}
.current-graph .wrapper .customers-current-graph .graph-desc div .corp2 {
  background-color: #2ccb92;
}
.current-graph .wrapper .customers-current-graph .graph-desc div .corp3 {
  background-color: #f2c94c;
}
.current-graph .wrapper .customers-current-graph .graph-desc div .corp4 {
  background-color: #b8b6b6;
}
.current-graph .wrapper .customers-current-graph .graph-desc div .corp5 {
  background-color: #e07351;
}
.current-graph .wrapper .customers-current-graph .graph-desc div .corp6 {
  background-color: #3f89b1;
}
.current-graph .wrapper .customers-current-graph .graph-desc div p {
  margin-right: 20px;
}
.current-graph .wrapper .customers-current-graph .graph-desc div b {
  position: absolute;
  right: 0;
}
.current-graph .wrapper .customers-current-graph .graph-desc div .corp1-point {
  color: #5157e0;
}
.current-graph .wrapper .customers-current-graph .graph-desc div .corp2-point {
  color: #2ccb92;
}
.current-graph .wrapper .customers-current-graph .graph-desc div .corp3-point {
  color: #f2c94c;
}
.current-graph .wrapper .customers-current-graph .graph-desc div .corp4-point {
  color: #b8b6b6;
}
.current-graph .wrapper .customers-current-graph .graph-desc div .corp5-point {
  color: #e07351;
}
.current-graph .wrapper .customers-current-graph .graph-desc div .corp6-point {
  color: #3f89b1;
}

.issue-graph {
  width: 40%;
}
.issue-graph .wrapper {
  height: 110% !important;
  padding-top: 15px;
}
.issue-graph .wrapper .highcharts-figure .highcharts-root {
  border-radius: 10px;
}
.issue-graph .wrapper .highcharts-figure .highcharts-root .highcharts-plot-background {
  fill: #f2f3f6;
}
.issue-graph .wrapper .highcharts-figure .highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.issue-graph .wrapper .highcharts-figure .highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}
.issue-graph .wrapper .highcharts-figure .highcharts-data-table td,
.issue-graph .wrapper .highcharts-figure .highcharts-data-table th,
.issue-graph .wrapper .highcharts-figure .highcharts-data-table caption {
  padding: 0.5em;
}
.issue-graph .wrapper .highcharts-figure .highcharts-data-table thead tr,
.issue-graph .wrapper .highcharts-figure .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.issue-graph .wrapper .highcharts-figure .highcharts-data-table .highcharts-data-table tr:hover {
  background: #f1f7ff;
}
.issue-graph .wrapper .highcharts-figure .highcharts-series path {
  fill: #bcacfc;
}
.issue-graph .wrapper .highcharts-figure .highcharts-series path:hover {
  fill: #cdc1f9;
}
.issue-graph .wrapper .highcharts-figure .highcharts-legend {
  display: none;
}

@media screen and (max-width: 1380px) {
  .frame section .section-title img {
    width: 20px;
  }
  .frame section .section-title span {
    font-size: 15px;
  }
  .frame section .section-title a {
    width: 40px;
    height: 20px;
    font-size: 12px;
  }
  .section-container .board .wrapper table tbody tr td {
    font-size: 14px;
  }
  .current-graph {
    margin-bottom: 80px;
  }
  .current-graph .wrapper .highcharts-figure .current-graph-title {
    font-size: 14px;
  }
  .current-graph .wrapper .highcharts-figure .current-graph-title img {
    width: 22px;
  }
  .current-graph .wrapper .customers-current-graph .customers-current-title {
    font-size: 14px;
  }
  .current-graph .wrapper .customers-current-graph .customers-current-title img {
    width: 22px;
  }
  .current-graph .wrapper .customers-current-graph .graph-desc div span {
    display: inline-block;
    width: 10px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .current-graph .wrapper .customers-current-graph .graph-desc div p {
    margin-right: 20px;
  }
  .current-graph .wrapper .customers-current-graph .graph-desc div b {
    position: absolute;
    right: 0;
  }
  .issue-graph {
    width: 40%;
  }
  .issue-graph .wrapper {
    height: 110% !important;
  }
  .issue-graph .wrapper .highcharts-figure .highcharts-root {
    border-radius: 10px;
  }
  .issue-graph .wrapper .highcharts-figure .highcharts-root .highcharts-plot-background {
    fill: #f2f3f6;
  }
  .issue-graph .wrapper .highcharts-figure .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }
  .issue-graph .wrapper .highcharts-figure .highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
  }
  .issue-graph .wrapper .highcharts-figure .highcharts-data-table td,
  .issue-graph .wrapper .highcharts-figure .highcharts-data-table th,
  .issue-graph .wrapper .highcharts-figure .highcharts-data-table caption {
    padding: 0.5em;
  }
  .issue-graph .wrapper .highcharts-figure .highcharts-data-table thead tr,
  .issue-graph .wrapper .highcharts-figure .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
  }
  .issue-graph .wrapper .highcharts-figure .highcharts-data-table .highcharts-data-table tr:hover {
    background: #f1f7ff;
  }
  .issue-graph .wrapper .highcharts-figure .highcharts-series path {
    fill: #bcacfc;
  }
  .issue-graph .wrapper .highcharts-figure .highcharts-series path:hover {
    fill: #cdc1f9;
  }
  .issue-graph .wrapper .highcharts-figure .highcharts-legend {
    display: none;
  }
}
@media screen and (max-width: 1275px) {
  section {
    width: 100% !important;
  }
  section.issue-graph {
    margin-bottom: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
