@import "reset.scss";

.frame {
	width: 100%;
	height: 100vh;
	&::after {
		display: block;
		content: "";
		clear: both;
	}
	.title {
		width: 100%;
		height: 37px;
		background-color: #142759;
		color: #fff;
		display: flex;
		align-items: center;
		padding-left: 10px;
	}
	section {
		float: left;
		height: 400px;
		padding: 10px;
		.section-title {
			display: flex;
			align-items: center;
			position: relative;
			margin-bottom: 10px;
			img {
				width: 25px;
				margin-right: 10px;
			}
			a {
				position: absolute;
				right: 5px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: 50px;
				height: 25px;
				color: #fff;
				background-color: #495464;
				border-radius: 5px;
				font-size: 13px;
			}
		}
		.wrapper {
			width: 100%;
			height: 90%;
			border: 1px solid #000;
			border-radius: 10px;
			background-color: #fff;
		}
		.icons-wrapper {
			background-color: transparent;
			article {
				background-color: #fff;
			}
		}
	}
}

.section-container {
	&::after {
		display: block;
		content: "";
		clear: both;
	}
	.board {
		width: 35%;
		.wrapper {
			table {
				width: 100%;
				height: 100%;
				tbody {
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-around;
					tr {
						display: flex;
						flex: 1;
						align-items: center;
						width: 95%;
						border-bottom: 1px solid #a9adb8;
						&:last-of-type {
							margin-bottom: 10px;
						}
						&:hover {
							background-color: #f2f3f6;
						}
						td {
							display: flex;
							flex-direction: column;
						}
						.issue-title {
							flex: 5;
							padding-left: 5px;
							.issue-type {
								color: #2aab7d;
							}
							a {
								color: #000;
							}
						}
						.processing-status {
							flex: 2;
							text-align: right;
							padding-right: 5px;
							.current-status {
								color: #e07351;
							}
							a {
								color: #000;
							}
						}
					}
				}
			}
		}
	}
	.icons {
		width: 25%;
		.wrapper {
			border: none !important;
			display: flex;
			flex-wrap: wrap;
			article {
				width: 32%;
				border: 1px solid #000;
				border-radius: 9px;
				text-align: center;
				margin: {
					right: 2%;
					bottom: 2%;
				}
				&:nth-of-type(5) {
					border: 2px solid #828282;
					background-color: #eceefa;
				}
				&:hover {
					background-color: #f2f3f6;
				}
				&:nth-of-type(3n) {
					margin-right: 0;
				}
				&:nth-of-type(7),
				&:nth-of-type(8),
				&:nth-of-type(9) {
					margin-bottom: 0;
				}
				a {
					color: #000;
					span {
						display: block;
						margin: 15px auto;
					}
					.icons-value {
						display: flex;
						justify-content: space-evenly;
						align-items: center;
						img {
							width: 35px;
						}
						b {
							font-size: 25px;
							color: #5978b9;
							&.monthly-issue {
								color: #f46161;
							}
						}
					}
				}
			}
		}
	}
	.project-table {
		width: 40%;
		text-align: center;
		vertical-align: middle;
		.wrapper {
			border: none !important;
			table {
				width: 100%;
				border-radius: 10px;
				box-shadow: 0 0 0 1px #000;
				tbody {
					tr {
						border-bottom: 1px solid #000;
						&:hover {
							td:first-child,
							td:last-child {
								border-radius: 0 0 10px 10px;
							}
							background-color: #f2f3f6;
						}
						&:last-child {
							border-bottom: none;
						}
						th,
						td {
							border-right: 1px solid #000;
							height: 57px;
							border-radius: 10px 10px 0 0;
							&:last-child {
								border-right: none;
							}
						}
						th {
							background-color: #f2f3f6;
						}
					}
				}
			}
		}
	}
}

//프로젝트 진행현황
.current-graph {
	width: 60%;
	.wrapper {
		height: 110% !important;
		padding-top: 15px;
		.dropdown {
			width: 100%;
			float: left;
			text-align: right;
			margin-top: 10px;
			padding: {
				left: 10px;
				right: 20px;
			}
			select {
				width: 150px;
				height: 30px;
				border-radius: 10px;
				background-color: #ced5ed;
				border: none;
				padding: {
					left: 10px;
				}
			}
		}
		.highcharts-figure {
			width: 50%;
			float: left;
			.current-graph-title {
				display: flex;
				align-items: center;
				img {
					width: 30px;
					margin: 0 10px;
				}
			}
			#parent_container {
				width: 100%;
				height: 50%;
				#donut_container {
					width: 100%;
					height: 340px;
				}
			}
		}
		.customers-current-graph {
			width: 50%;
			float: right;
			.customers-current-title {
				display: flex;
				align-items: center;
				img {
					width: 30px;
					margin: 0 10px;
				}
			}
			.bar-graph {
				position: relative;
				width: 95%;
				height: 20px;
				margin: 40px auto 50px 0;
				div {
					height: 100%;
					border-radius: 25px;
					float: left;
				}
				.corp1 {
					width: 35%;
					background-color: #5157e0;
				}
				.corp2 {
					width: 25%;
					background-color: #2ccb92;
				}
				.corp3 {
					width: 20%;
					background-color: #f2c94c;
				}
				.corp4 {
					width: 10%;
					background-color: #b8b6b6;
				}
				.corp5 {
					width: 5%;
					background-color: #e07351;
				}
				.corp6 {
					width: 5%;
					background-color: #3f89b1;
				}
			}
			.graph-desc {
				width: 95%;
				> div {
					display: flex;
				}
				div {
					position: relative;
					span {
						display: inline-block;
						width: 10px;
						height: 30px;
						border-radius: 15px;
						margin: {
							right: 10px;
							bottom: 10px;
						}
					}
					.corp1 {
						background-color: #5157e0;
					}
					.corp2 {
						background-color: #2ccb92;
					}
					.corp3 {
						background-color: #f2c94c;
					}
					.corp4 {
						background-color: #b8b6b6;
					}
					.corp5 {
						background-color: #e07351;
					}
					.corp6 {
						background-color: #3f89b1;
					}
					p {
						margin-right: 20px;
					}
					b {
						position: absolute;
						right: 0;
					}
					.corp1-point {
						color: #5157e0;
					}
					.corp2-point {
						color: #2ccb92;
					}
					.corp3-point {
						color: #f2c94c;
					}
					.corp4-point {
						color: #b8b6b6;
					}
					.corp5-point {
						color: #e07351;
					}
					.corp6-point {
						color: #3f89b1;
					}
				}
			}
		}
	}
}

//open issue
.issue-graph {
	width: 40%;
	.wrapper {
		height: 110% !important;
		padding-top: 15px;
		.highcharts-figure {
			.highcharts-root {
				border-radius: 10px;
				.highcharts-plot-background {
					fill: #f2f3f6;
				}
			}
			.highcharts-data-table {
				caption {
					padding: 1em 0;
					font-size: 1.2em;
					color: #555;
				}
				th {
					font-weight: 600;
					padding: 0.5em;
				}
				td,
				th,
				caption {
					padding: 0.5em;
				}
				thead tr,
				tr:nth-child(even) {
					background: #f8f8f8;
				}
				.highcharts-data-table tr:hover {
					background: #f1f7ff;
				}
			}
			.highcharts-series path {
				fill: #bcacfc;
				&:hover {
					fill: #cdc1f9;
				}
			}
			.highcharts-legend {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 1380px) {
	.frame {
		section {
			.section-title {
				img {
					width: 20px;
				}
				span {
					font-size: 15px;
				}
				a {
					width: 40px;
					height: 20px;
					font-size: 12px;
				}
			}
		}
	}
	.section-container {
		.board {
			.wrapper {
				table {
					tbody {
						tr {
							td {
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}

	//프로젝트 진행현황
	.current-graph {
		margin-bottom: 80px;
		.wrapper {
			.highcharts-figure {
				.current-graph-title {
					font-size: 14px;
					img {
						width: 22px;
					}
				}
			}
			.customers-current-graph {
				.customers-current-title {
					font-size: 14px;
					img {
						width: 22px;
					}
				}
				.graph-desc {
					div {
						span {
							display: inline-block;
							width: 10px;
							height: 30px;
							border-radius: 15px;
							margin: {
								right: 10px;
								bottom: 10px;
							}
						}
						p {
							margin-right: 20px;
						}
						b {
							position: absolute;
							right: 0;
						}
					}
				}
			}
		}
	}

	//open issue
	.issue-graph {
		width: 40%;
		.wrapper {
			height: 110% !important;
			.highcharts-figure {
				.highcharts-root {
					border-radius: 10px;
					.highcharts-plot-background {
						fill: #f2f3f6;
					}
				}
				.highcharts-data-table {
					caption {
						padding: 1em 0;
						font-size: 1.2em;
						color: #555;
					}
					th {
						font-weight: 600;
						padding: 0.5em;
					}
					td,
					th,
					caption {
						padding: 0.5em;
					}
					thead tr,
					tr:nth-child(even) {
						background: #f8f8f8;
					}
					.highcharts-data-table tr:hover {
						background: #f1f7ff;
					}
				}
				.highcharts-series path {
					fill: #bcacfc;
					&:hover {
						fill: #cdc1f9;
					}
				}
				.highcharts-legend {
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 1140px) {
	section {
		width: 100% !important;
	}
	section.issue-graph {
		margin-bottom: 100px;
	}
}
