* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ol,
ul,
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.hidden {
	position: absolute;
	opacity: 0;
	left: -99999px;
}
table {
	border-collapse: collapse;
}

.frame {
	width: 100%;
	height: 100%;
	.title {
		width: 100%;
		height: 50px;
		background-color: #142759;
		color: #fff;
		display: flex;
		align-items: center;
		padding-left: 10px;
	}
	section {
		float: left;
		height: 400px;
		margin: 10px;
		padding: 10px;

		&:nth-of-type(1) {
			width: calc(40% - 60px);
		}
		&:nth-of-type(2) {
			width: 30%;
			article {
				float: left;
				width: 30%;
				height: 100px;
			}
		}
		&:nth-of-type(3) {
			width: 30%;
		}
		&:nth-of-type(4) {
			width: 60%;
		}
		&:nth-of-type(5) {
			width: 40%;
		}
		.sectionTitle {
			display: flex;
			align-items: center;
			img {
				width: 30px;
				margin-right: 10px;
			}
		}
		.wrapper {
			width: 100%;
			height: 100%;
			border: 1px solid #000;
			border-radius: 10px;
		}
	}
}

//table
.board {
	.wrapper {
		table {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			tr {
				flex: 1;
				display: flex;
				padding: 10px;
				border-bottom: 1px solid #a9adb8;
				.issue-type {
					color: #2aab7d;
					flex: 1;
				}
				.issue-title {
					flex: 2;
				}
				.current-status {
					color: #e07351;
					flex: 1;
				}
				.write-date {
					flex: 1;
				}
			}
		}
	}
}
//프로젝트 진행현황
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

.highcharts-figure {
	margin: 0;
}

#donut-container {
	height: 600px;
	width: 500px;
	margin: 0 auto;
}

#play-range {
	transform: translateY(2.5px);
	width: calc(100%);
	background: #f8f8f8;
}

//open issue
.highcharts-data-table caption {
	padding: 1em 0;
	font-size: 1.2em;
	color: #555;
}

.highcharts-data-table th {
	font-weight: 600;
	padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
	padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
	background: #f8f8f8;
}

.highcharts-data-table tr:hover {
	background: #f1f7ff;
}
