@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

ol,
ul,
li {
  list-style: none;
}

a {
  /* 라이브러리 import로 속성이 우선적용되지 않아 important 부여 */
  text-decoration: none !important;
  color: #000 !important;
}

.hidden {
  position: absolute;
  opacity: 0;
  left: -99999px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.frame {
  width: 100%;
  height: 100%;
}
.frame::after {
  display: block;
  content: "";
  clear: both;
}
.frame .title {
  width: 100%;
  height: 50px;
  background-color: #142759;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.frame section {
  float: left;
  height: 400px;
  padding: 10px;
}
.frame section .section-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.frame section .section-title img {
  width: 25px;
  margin-right: 10px;
}
.frame section .wrapper {
  width: 100%;
  height: 90%;
  border: 1px solid #000;
  border-radius: 10px;
}

.section-container:nth-of-type(1) {
  margin-bottom: 20px;
}
.section-container::after {
  display: block;
  content: "";
  clear: both;
}
.section-container .board {
  width: 35%;
}
.section-container .board .wrapper table {
  width: 100%;
  height: 100%;
}
.section-container .board .wrapper table tbody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.section-container .board .wrapper table tbody tr {
  display: flex;
  flex: 1;
  align-items: center;
  width: 95%;
  border-bottom: 1px solid #a9adb8;
}
.section-container .board .wrapper table tbody tr:last-of-type {
  margin-bottom: 10px;
}
.section-container .board .wrapper table tbody tr:hover {
  background-color: #f2f3f6;
}
.section-container .board .wrapper table tbody tr .issue-type {
  color: #2aab7d;
  flex: 1;
  padding-left: 8px;
}
.section-container .board .wrapper table tbody tr .issue-title {
  flex: 2;
}
.section-container .board .wrapper table tbody tr .current-status {
  color: #e07351;
  flex: 1;
}
.section-container .board .wrapper table tbody tr .write-date {
  flex: 1;
}
.section-container .icons {
  width: 25%;
}
.section-container .icons .wrapper {
  border: none !important;
  display: flex;
  flex-wrap: wrap;
}
.section-container .icons .wrapper article {
  width: 32%;
  border: 1px solid #000;
  border-radius: 9px;
  text-align: center;
  margin-right: 2%;
  margin-bottom: 2%;
}
.section-container .icons .wrapper article:nth-of-type(3n) {
  margin-right: 0;
}
.section-container .icons .wrapper article:nth-of-type(7), .section-container .icons .wrapper article:nth-of-type(8), .section-container .icons .wrapper article:nth-of-type(9) {
  margin-bottom: 0;
}
.section-container .icons .wrapper article span {
  display: block;
  margin: 15px auto;
}
.section-container .icons .wrapper article .icons-value {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section-container .icons .wrapper article .icons-value img {
  width: 35px;
}
.section-container .icons .wrapper article .icons-value b {
  font-size: 25px;
  color: #5978b9;
}
.section-container .icons .wrapper article .icons-value b.monthly-issue {
  color: #f46161;
}
.section-container .project-table {
  width: 40%;
  text-align: center;
}
.section-container .project-table .wrapper {
  border: none !important;
}
.section-container .project-table .wrapper table {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #000;
}
.section-container .project-table .wrapper table tbody tr {
  border-bottom: 1px solid #000;
}
.section-container .project-table .wrapper table tbody tr:last-child {
  border-bottom: none;
}
.section-container .project-table .wrapper table tbody tr th,
.section-container .project-table .wrapper table tbody tr td {
  border-right: 1px solid #000;
  height: 68px;
  border-radius: 10px 10px 0 0;
}
.section-container .project-table .wrapper table tbody tr th:last-child,
.section-container .project-table .wrapper table tbody tr td:last-child {
  border-right: none;
}
.section-container .project-table .wrapper table tbody tr th {
  background-color: #f2f3f6;
}

.current-graph {
  width: 60%;
}
.current-graph .wrapper {
  height: 100% !important;
}
.current-graph .wrapper .dropdown {
  width: 100%;
  float: left;
  text-align: right;
  margin-top: 10px;
  padding-right: 10px;
}
.current-graph .wrapper .dropdown .btn {
  background-color: #ced5ed;
  border: none;
  color: #000;
}
.current-graph .wrapper .highcharts-figure {
  width: 50%;
  float: left;
}
.current-graph .wrapper .highcharts-figure .current-graph-title img {
  width: 30px;
  margin: 0 10px;
}
.current-graph .wrapper .highcharts-figure #parent_container {
  width: 100%;
  height: 50%;
}
.current-graph .wrapper .highcharts-figure #parent_container #donut_container {
  width: 100%;
}
.current-graph .wrapper .highcharts-figure #parent_container #donut_container .highcharts-root {
  height: 75%;
}
.current-graph .wrapper .customers-current-graph {
  width: 50%;
  float: right;
}
.current-graph .wrapper .customers-current-graph .customers-current-title img {
  width: 30px;
  margin: 0 10px;
}
.current-graph .wrapper .customers-current-graph .bar-graph {
  position: relative;
  width: 90%;
  height: 20px;
  margin: 30px auto;
}
.current-graph .wrapper .customers-current-graph .bar-graph div {
  height: 100%;
  border-radius: 25px;
  float: left;
}
.current-graph .wrapper .customers-current-graph .bar-graph .corp1 {
  width: 37%;
  background-color: #5157e0;
}
.current-graph .wrapper .customers-current-graph .bar-graph .corp2 {
  width: 26%;
  background-color: #2ccb92;
}
.current-graph .wrapper .customers-current-graph .bar-graph .corp3 {
  width: 21%;
  background-color: #f2c94c;
}
.current-graph .wrapper .customers-current-graph .bar-graph .corp4 {
  width: 11%;
  background-color: #b8b6b6;
}
.current-graph .wrapper .customers-current-graph .bar-graph .corp5 {
  width: 5%;
  background-color: #e07351;
}

.issue-graph {
  width: 40%;
  height: 100% !important;
}
.issue-graph .highcharts-root {
  border-radius: 10px;
}
.issue-graph .highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.issue-graph .highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}
.issue-graph .highcharts-data-table td,
.issue-graph .highcharts-data-table th,
.issue-graph .highcharts-data-table caption {
  padding: 0.5em;
}
.issue-graph .highcharts-data-table thead tr,
.issue-graph .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.issue-graph .highcharts-data-table .highcharts-data-table tr:hover {
  background: #f1f7ff;
}
.issue-graph .highcharts-plot-background {
  fill: #f2f3f6;
}
.issue-graph .highcharts-series path {
  fill: #bcacfc;
}
.issue-graph .highcharts-series path:hover {
  fill: #cdc1f9;
}

/*# sourceMappingURL=style.css.map */
